<div class= "conteiner">
  <div class= "row">
    <div class= "col-12">
      <h2><%= @current.last_name+@customer.first_name %>さんの会員情報編集</h2>
      <div class= "form-group">
        
      </div>
    </div>
  </div>
</div>